<template>
    <li v-if="craftsmen !== undefined" class="craftmen-entry">
        <b-row>
            <b-col class="company-logo-container">
                <img :src="craftsmen.imageUrl" :alt="craftsmen.companyName" class="company-logo" />
            </b-col>
            <b-col>
                <b>{{ craftsmen.companyName }}</b><br />
                {{ craftsmen.street }}<br />
                {{ craftsmen.zipCode }} {{ craftsmen.city }}
            </b-col>
            <b-col>
                <b>Kontakt:</b><br />
                {{ craftsmen.firstName }} {{ craftsmen.lastName }}<br />
                <a :href="'tel:' + craftsmen.phoneNumber">{{ craftsmen.phoneNumber }}</a>
            </b-col>
            <b-col>
                {{ craftsmen.description }}
            </b-col>
            <b-col v-if="craftsmen.damageSources != null && craftsmen.damageSources.length > 0">
                <p>Ist stark in diesen Bereichen:</p>
                <ul>
                    <li :key="index" v-for="(damageSource, index) in craftsmen.damageSources">{{ damageSource }}</li>
                </ul>
            </b-col>
            <b-col>
                <OfferManager :is-craftsmen="isCraftsmen" :case-id="caseId" :damaged-object-id="damagedObjectId" :offers="offers" :craftsmen="craftsmen" />
            </b-col>
        </b-row>
    </li>
</template>

<script>
import OfferManager from './OfferManager';

export default {
    data () {
        return {
            name: 'craftsmenitem'
        }
    },
    props: {
        caseId: Number,
        damagedObjectId: Number,
        craftsmen: Object,
        offers: Array,
        isCraftsmen: Boolean
    },
    computed: {
    },
    components: {
        OfferManager
    }
}

/*
    craftsmen: {
        id: 0,
        companyName: '',
        firstName: '',
        lastName: '',
        street: '',
        zipCode: '',
        city: '',
        Description: '',
        damageSources: []
    }
*/
</script>

<style scoped>
.craftmen-entry {
    border-bottom: 1px solid #ccc;

    padding: 18px 0;
}
.craftmen-entry:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.company-logo-container {
    position: relative;
    width: 100px;
    height: 80px;
}
.company-logo {
    max-height: 85%;
    max-width: 85%;
    height: auto;
    width: auto;

    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    left: 15px;
    margin: auto;
}
</style>