<template>
    <b-card :header="cardHeader" class="mb-4">
        <div v-if="damagedObjectCase.craftsmen.length > 0">
            <p>Folgende Handwerker können den Ihnen entstandenen Schaden reparieren:</p>
            <ul class="craftmen-list">
                <CraftsmenItem :is-craftsmen="isCraftsmen" v-if="damagedObjectCase.craftsmen.length > 0" :key="index" v-for="(craftsmen, index) in damagedObjectCase.craftsmen" :case-id="caseId" :damaged-object-id="damagedObjectCase.id" :offers="damagedObjectCase.offers" :craftsmen="craftsmen" />
            </ul>
        </div>
        <div v-else>
            <p>Es wurden leider keine Handwerker für diesen Fall gefunden. Wir werden uns darum kümmern und Sie mit weiteren Informationen wieder kontaktieren.</p>
        </div>
    </b-card>
</template>

<script>
import CraftsmenItem from './CraftsmenItem';
import Vue from 'vue';

export default {
    name: 'damagedobjectcase',
    data () {
        return {
        }
    },
    props: {
        caseId: Number,
        damagedObjectCase: Object,
        isCraftsmen: Boolean
    },
    components: {
        CraftsmenItem
    },
    watch: {
        finishedOffer: function (val) {}
    },
    computed: {
        cardHeader: function () {
            var objectName = this.damagedObjectCase.name;
            return '<b>Auftrag: ' + objectName + ' reparieren</b>'
        },
        finishedOffer: function () {
            var found = this.damagedObjectCase.offers.find(function (offer) { return offer.status === 800; });
            
            if (found !== undefined) {
                this.updateCraftsmenForFinishedOffer(found);
            }

            return found;
        }
    },
    methods: {
        updateCraftsmenForFinishedOffer: function (finishedOffer) {
            var craftmenToKeep = this.damagedObjectCase.craftsmen.find(function (craftmen) { return craftmen.id === finishedOffer.craftmanId; });
            this.damagedObjectCase.craftsmen.splice(0);
            this.damagedObjectCase.craftsmen.push(craftmenToKeep);
        }
    }
}

/*
damagedObjectCase: {
    name: '',
    damageSources: [],
    offers: [],
    craftsmen: [{
        id: 0,
        companyName: '',
        firstName: '',
        lastName: '',
        street: '',
        zipCode: '',
        city: '',
        Description: '',
        damageSources: []
    }]
}
*/
</script>

<style scoped>
.craftmen-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
</style>