<template>
    <div class="offer-container" id="OfferContainer">
        <StarRating v-if="!isCraftsmen" v-bind:value="craftsmen.starRating" @selected="ratingSelected" :editable="offerCanBeCompleted" /><b-badge variant="info" v-if="!isCraftsmen && offerStatus !== null">{{ offerStatus }}</b-badge>
        <b-button-group class="offer-button-group" v-if="!isCraftsmen">
            <b-button variant="success" v-if="offerIsRequestable" @click="requestOffer" :disabled="buttonLoader">Offertanfrage senden <Loader :enabled="buttonLoader" inline /></b-button>
            <b-button variant="success" v-if="offerCanBeCompleted" @click="rateAndClose" :disabled="buttonLoader">Bewerten und abschliessen <Loader :enabled="buttonLoader" inline /></b-button>
        </b-button-group>
        
        <b-badge variant="info" v-if="isCraftsmen && craftsmenOfferStatus !== null">{{ craftsmenOfferStatus }}</b-badge>
        <b-button-group class="offer-button-group" v-if="isCraftsmen && offerIsRequested">
            <b-button variant="success" @click="acceptOffer" :disabled="buttonLoader">Akzeptieren <Loader :enabled="buttonLoader" inline /></b-button>
            <b-button variant="danger" @click="dismissOffer" :disabled="buttonLoader">Ablehnen <Loader :enabled="buttonLoader" inline /></b-button>
        </b-button-group>
    </div>
</template>

<script>
import OffersApi from './../../api/offersApi';

import StarRating from './../Tools/StarRating';
import Vue from 'vue';

export default {
    data() {
        return {
            name: 'offermanager',
            errorMessage: null,
            buttonLoader: false,
            selectedRating: -1,
        }
    },
    props: {
        caseId: Number,
        damagedObjectId: Number,
        craftsmen: Object,
        offers: Array,
        isCraftsmen: Boolean
    },
    components: {
        StarRating
    },
    computed: {
        haveOwnOffer: function() {
            var offer = this.ownOffer;
            return offer !== undefined && offer !== null && offer.status > 0;
        },
        ownOffer: function() {
            var self = this;
            var offer = null;

            if (this.offers !== undefined) {
                offer = this.offers.find(function (offer) { return offer.craftmanId === self.craftsmen.id; });
            }
            
            return offer;
        },
        offerStatus: function () {
            if (!this.haveOwnOffer) {
                return null;
            }

            switch (this.ownOffer.status) {
                case 100: return 'Offerte angefordert'; break;
                case 200: return 'Offerte angenommen'; break;
                case 800: return 'Reparatur abgeschlossen'; break;
                case 901: return 'Offertanfrage abgelehnt'; break;
                case 902: return 'Offerte durch Kunde abgelehnt'; break;
            }
        },
        craftsmenOfferStatus: function () {
            if (!this.haveOwnOffer) {
                return 'Noch keine Offerte angefragt';
            }

            switch (this.ownOffer.status) {
                case 100: return 'Offerte angefordert'; break;
                case 200: return 'Offerte angenommen'; break;
                case 800: return 'Reparatur abgeschlossen'; break;
                case 901: return 'Offertanfrage abgelehnt'; break;
                case 902: return 'Offerte durch Kunde abgelehnt'; break;
            }
        },
        /* state handling */
        offerIsRequestable: function () {
            return !this.haveOwnOffer;
        },
        offerIsRequested: function () {
            if (!this.haveOwnOffer){
                return false;
            }

            return this.ownOffer.status === 100;
        },
        offerCanBeCompleted: function () {
            if (!this.haveOwnOffer){
                return false;
            }

            return this.ownOffer.status === 200
        }
    },
    methods: {
        /* event handling */
        ratingSelected: function (selectedValue) {
            this.selectedRating = selectedValue;
        },
        requestOffer: function () {
            var self = this;
            this.buttonLoader = true;

            OffersApi.requestOffer(self.damagedObjectId, self.craftsmen.id)
                .then(function (response) {
                    self.offers.push(response.data);
                    self.buttonLoader = false;
                })
                .catch(function (reason) {
                    self.errorMessage = reason.message;
                    self.buttonLoader = false;
                });
        },
        acceptOffer: function () {
            this.setOfferState(200);
        },
        dismissOffer: function () {
            this.setOfferState(901);
        },
        rateAndClose: function () {
            var self = this;
            self.buttonLoader = true;

            OffersApi.rateAndClose(self.caseId, self.damagedObjectId, self.ownOffer.id, self.selectedRating)
                .then(function (response) {
                    self.ownOffer.status = 800;
                    self.buttonLoader = false;
                })
                .catch(function (reason) {
                    self.errorMessage = reason.message;
                    self.buttonLoader = false;
                });
        },
        setOfferState: function (newStatus) {
            var self = this;
            this.buttonLoader = true;
            var offerId = self.ownOffer.id;

            OffersApi.setOfferStatus(self.caseId, self.damagedObjectId, offerId, self.craftsmen.id, newStatus)
                .then(function (response) {
                    var originalOfferIndex = self.offers.findIndex(function (offer) { return offer.id === offerId });
                    self.offers.splice(originalOfferIndex, 1, response.data);
                    self.buttonLoader = false;
                })
                .catch(function (reason) {
                    self.errorMessage = reason.message;
                    self.buttonLoader = false;
                });
        }
    }
}
</script>

<style scoped>
    .offer-container {
        position: relative;
    }

    .craftmanfunctions {
        position: absolute;
        top: -10px;
        right: 0;
    }
</style>