<template>
    <b-navbar toggleable="md" type="dark" variant="dark">
        <b-container>
            <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
            <b-navbar-brand to="/"><img src="../../assets/logo.png" class="logo"></b-navbar-brand>

            <b-collapse is-nav id="nav_collapse">
                <b-navbar-nav>
                </b-navbar-nav>
                
                <b-navbar-nav class="ml-auto" v-if="$root.store.userLoggedIn">
                    <b-nav-item-dropdown right>
                        <template slot="button-content">
                            <em>Hans Handwerker</em>
                        </template>
                        <b-dropdown-item to="/">Logout</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-container>
    </b-navbar>
</template>

<script>
export default {
    name: 'appheader',
    data: function () {
        return {
            userLoggedIn: false
        }
    }
}
</script>

<style scoped>
    .logo {
        height: 48px;
    }
    .navbar {
        background-color: #a75c55 !important;

        margin-bottom: 40px;
    }
</style>