<template>
    <div>
        <div :class="['star-rating', editable ? 'enabled' : '']" v-b-tooltip.hover :title="!editable ? 'Vermittelte Benutzer bewerteten den Handwerker' : ''">
            <span :class="{ active: starFiveActive}" @click="setStar(5)">&#9734;</span><span :class="{ active: starFourActive}" @click="setStar(4)">&#9734;</span><span :class="{ active: starThreeActive}" @click="setStar(3)">&#9734;</span><span :class="{ active: starTwoActive}" @click="setStar(2)">&#9734;</span><span :class="{ active: starOneActive}" @click="setStar(1)">&#9734;</span>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: 'starrating',
                currentValue: -1
            }
        },
        mounted: function () {
            this.currentValue = this.value;
        },
        props: {
            editable: Boolean,
            value: Number
        },
        computed: {
            starOneActive: function() {
                return this.isStarActive(1, this.currentValue);
            },
            starTwoActive: function() {
                return this.isStarActive(2, this.currentValue);
            },
            starThreeActive: function() {
                return this.isStarActive(3, this.currentValue);
            },
            starFourActive: function() {
                return this.isStarActive(4, this.currentValue);
            },
            starFiveActive: function() {
                return this.isStarActive(5, this.currentValue);
            }
        },
        methods: {
            isStarActive: function(star, value) {
                return  star <= Math.ceil(value);
            },
            setStar: function(rating) {
                if (!this.editable) {
                    return;
                }

                this.currentValue = rating;

                this.$emit('selected', rating);
            }
        }
    }
</script>

<style scoped>
    .star-rating {
        font-size: 22px;
        unicode-bidi: bidi-override;
        direction: rtl;
    }

    .star-rating > span {
        display: inline-block;
        position: relative;
    }

    .star-rating > span.active:before,
    .star-rating.enabled > span:hover:before,
    .star-rating.enabled > span:hover ~ span:before {
        color: goldenrod;

        content: "\2605";
        position: absolute;
    }
</style>