<template>
    <div>
        <h1>Details Ihrer Schadensmeldung</h1>
        
        <b-card no-body class="mb-1">
            <b-card-header header-tag="header" role="tab">
                <div @click="adressDataOpen = !adressDataOpen"><span :class="['oi pr-3', adressDataOpen ? 'oi-caret-top' : 'oi-caret-bottom']"></span><b>Adressdaten</b></div>
            </b-card-header>
            <b-collapse id="adressdataContent" v-model="adressDataOpen" role="tabpanel">
                <b-card-body>
                    <dl class="row">
                        <dt class="col-sm-4">Vorname</dt>
                        <dd class="col-sm-8">{{ caseData.firstName }}</dd>
                        <dt class="col-sm-4">Nachname</dt>
                        <dd class="col-sm-8">{{ caseData.lastName }}</dd>
                        <dt class="col-sm-4">Strasse</dt>
                        <dd class="col-sm-8">{{ caseData.street }}</dd>
                        <dt class="col-sm-4">Plz / Ort</dt>
                        <dd class="col-sm-8">{{ caseData.zipCode }} {{ caseData.city }}</dd>
                    </dl>
                </b-card-body>
            </b-collapse>
        </b-card>
        <b-card no-body class="mb-4">
            <b-card-header header-tag="header" role="tab">
                <div @click="schadenDataOpen = !schadenDataOpen"><span :class="['oi pr-3', schadenDataOpen ? 'oi-caret-top' : 'oi-caret-bottom']"></span><b>Schadenereignis</b></div>
            </b-card-header>
            <b-collapse id="schadendataContent" v-model="schadenDataOpen" role="tabpanel">
                <b-card-body>
                    <dl class="row">
                        <dt class="col-sm-4">Datum des Schadens</dt>
                        <dd class="col-sm-8">{{ formatDate(caseData.dateOfEvent) }}</dd>
                        <dt class="col-sm-4">Beschreibung des Ereignisses</dt>
                        <dd class="col-sm-8">{{ caseData.eventDescription }}</dd>
                    </dl>
                </b-card-body>
            </b-collapse>
        </b-card>

        <DamagedObjectCase v-if="caseData.damagedObjectCases.length > 0" :key="index" v-for="(damagedObjectCase, index) in caseData.damagedObjectCases" :case-id="caseData.id" :damaged-object-case="damagedObjectCase" />
    </div>
</template>

<script>
import CasesApi from "./../../api/casesApi.js";
import helpers from "./../../helpers";

import DamagedObjectCase from "./../Cases/DamagedObjectCase";

export default {
  name: "index",
  props: {
      caseId: String // caseId wird als String übergeben, da diese direkt vom router / von der URL kommt.
  },
  data() {
    return {
      errorMessage: null,
      adressDataOpen: false,
      schadenDataOpen: false,
      caseData: {
        id: 0,
        firstName: '',
        lastName: '',
        street: '',
        zipCode: '',
        city: '',
        dateOfEvent: '',
        eventDescription: '',
        eventSource: '',
        caseStatus: '',
        damagedObjectCases: [{
            name: '',
            damageSources: [],
            offers: [],
            craftsmen: [{
                id: 0,
                companyName: '',
                firstName: '',
                lastName: '',
                street: '',
                zipCode: '',
                city: '',
                Description: '',
                damageSources: []
            }]
        }]
      }
    };
  },
  mounted: function() {
    var self = this;
    CasesApi.getCase(this.caseId)
      .then(function(response) {
        self.caseData = response.data;
      })
      .catch(function(reason) {
        self.errorMessage = reason.message;
        self.nextButtonLoader = false;
      });
  },
  methods: {
    formatDate: helpers.formatDate
  },
  components: {
      DamagedObjectCase
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
