<template>
  <div>
    
    <b-table striped :items="cases" :fields="fields">
      <template slot="show_details" slot-scope="row">
        <b-button size="sm" variant="success" @click.stop="row.toggleDetails">Details anzeigen</b-button>
      </template>
      <template slot="row-details" slot-scope="row">
          <DamagedObjectCase is-craftsmen v-if="row.item.damagedObjectCases.length > 0" :key="index" v-for="(damagedObjectCase, index) in row.item.damagedObjectCases" :case-id="row.item.id" :damaged-object-case="damagedObjectCase" />
      </template>
    </b-table>
  </div>
</template>

<script>
import CasesApi from '@/api/casesApi';

import DamagedObjectCase from "./../Cases/DamagedObjectCase";

export default {
  name: 'craftsmenhome',
  data () {
    return {
      cases: [],
      fields: ['firstName', 'lastName', 'street', 'zipCode', 'city', 'show_details']
    }
  },
  components: {
  },
  mounted: function () {
    var self = this;

    if (!this.$root.store.state.userLoggedIn) {
      this.$root.store.loginUser();
    }

    CasesApi.getAll()
      .then(function (response) {
        self.cases = response.data;
      })
      .catch(function(reason) {
        self.errorMessage = reason.message;
        self.nextButtonLoader = false;
      });;
  },
  components: {
      DamagedObjectCase
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
