<template>
    <div id="SchadenForm">
        <h1>Schadenformular: {{pageSubTitle}} - <small>Seite {{currentPage}} von {{maxPage}}</small></h1>

        <b-progress class="mb-4 mt-4" :value="progress" animated></b-progress>

        <b-alert :show="hasError" dismissible @dismissed="clearError" variant="danger">
            <h4 class="alert-heading">Es ist ein Fehler aufgetreten</h4>
            <p>{{ errorMessage }}</p>
        </b-alert>

        <!-- Schadensereignis Form -->
        <transition name="fade" mode="out-in">
            <div v-if="showPage(1)" key="Schadensereignis">
                <p>Bitte geben Sie die Basis-Informationen zu Ihrem Schadenfall an.</p>

                <b-form @submit="onSubmit">
                    <b-form-group id="SchadenDatumGroup" label="Datum des Schadens" label-for="SchadenDatum">
                        <datepicker id="SchadenDatum" v-model="formData.dateOfEvent" format="dd.MM.yyyy" bootstrap-styling use-utc monday-first calendar-button calendar-button-icon="oi oi-calendar" required />
                    </b-form-group>
                    <b-form-group id="EventDescriptionGroup" label="Beschreibung des Ereignisses" label-for="EventDescription">
                        <b-form-textarea id="EventDescription" v-model="formData.eventDescription" :rows="5" required />
                    </b-form-group>
                    <div class="text-right mt-5">
                        <b-button type="submit" variant="primary" :disabled="nextButtonLoader">Weiter zu den Beschädigungen <Loader :enabled="nextButtonLoader" inline /></b-button>
                    </div>
                </b-form>
            </div>

            <!-- Beschädigungen Form -->
            <div v-if="showPage(2)" key="Beschaedigungen">
                <h2>Welche Bauteile wurden beschädigt?</h2>
                <b-alert variant="info" :show="showAutoPopulatedHint">Wir haben aus Ihren Angaben versucht die möglichen Bauteile zu identifizieren. Bitte kontrollieren Sie die untenstehende Liste und vervollständigen oder korrigieren Sie diese entsprechend.</b-alert>
                <p>Bei einem Bauteil handelt es sich z.B. um ein Fenster, eine Türe, eine Wand oder ein Dach.</p>
                <ul class="form-list">
                    <li v-bind:key="index" v-for="(damagedObject, index) in formData.damagedObjects">
                        <b-form inline>
                            <b-form-input class="col-6 mr-3" :id="inputFormIdFor('DamagedItem', index)" v-model="formData.damagedObjects[index]" @change="onDamagedObjectModified" />
                            <b-button @click="deleteDamagedObject(index)" variant="danger">Delete</b-button>
                        </b-form>
                    </li>
                </ul>

                <div class="text-right mt-5">
                    <b-button variant="default" @click="goBack">Zurück zum Schadensereignis</b-button>
                    <b-button variant="primary" @click="onSubmit" :disabled="nextButtonLoader">Weiter zu den Adressangaben <Loader :enabled="nextButtonLoader" inline /></b-button>
                </div>
            </div>
        
            <!-- Adressangaben Form -->
            <div v-if="showPage(3)" key="Adressangaben">
                <b-form @submit="onSubmit">
                    <b-form-group id="FirstNameGroup" label="Vorname" label-for="FirstName">
                        <b-form-input id="FirstName" v-model="formData.firstName" required />
                    </b-form-group>
                    <b-form-group id="LastNameGroup" label="Nachname" label-for="LastName">
                        <b-form-input id="LastName" v-model="formData.lastName" required />
                    </b-form-group>
                    <b-form-group id="StreetGroup" label="Strasse" label-for="Street">
                        <b-form-input id="Street" v-model="formData.street" required />
                    </b-form-group>

                    <b-form-row>
                        <b-col md="3">
                            <b-form-group id="ZipCodeGroup" label="Postleitzahl" label-for="ZipCode">
                                <b-form-input id="ZipCode" v-model="formData.zipCode" required />
                            </b-form-group>
                        </b-col>
                        <b-col md="9">
                            <b-form-group md="9" id="CityGroup" label="Ort" label-for="City">
                                <b-form-input id="City" v-model="formData.city" required />
                            </b-form-group>
                        </b-col>
                    </b-form-row>
                    <div class="text-right mt-5">
                        <b-button variant="default" @click="goBack">Zurück zu den Beschädigungen</b-button>
                        <b-button type="submit" variant="primary">Weiter zur Zusammenfassung</b-button>
                    </div>
                </b-form>
            </div>

            <!-- Overview Form -->
            <div v-if="showPage(4)" key="Overview">
                <b-form @submit="onSubmit">
                    
                    <b-alert variant="info" show>Bitte kontrollieren Sie die gemachten Angaben und bestätigen Sie diese.</b-alert>

                    <b-card-group deck class="mb-4">
                        <b-card header="<b>Adressdaten</b>">
                            <dl class="row">
                                <dt class="col-sm-4">Vorname</dt>
                                <dd class="col-sm-8">{{ formData.firstName }}</dd>
                                <dt class="col-sm-4">Nachname</dt>
                                <dd class="col-sm-8">{{ formData.lastName }}</dd>
                                <dt class="col-sm-4">Strasse</dt>
                                <dd class="col-sm-8">{{ formData.street }}</dd>
                                <dt class="col-sm-4">Plz / Ort</dt>
                                <dd class="col-sm-8">{{ formData.zipCode }} {{ formData.city }}</dd>
                            </dl>
                        </b-card>
                        <b-card header="<b>Beschädigungen</b>">
                            <dl class="row">
                                <dt class="col-sm-4">Beschädigte Bauteile</dt>
                                <dd class="col-sm-8">
                                    <ul>
                                        <li :key="index" v-for="(damagedObject, index) in cleanedDamagedObjectsList">{{ damagedObject }}</li>
                                    </ul>
                                </dd>
                            </dl>
                        </b-card>
                    </b-card-group>
                    <b-card-group class="mb-4">
                        <b-card header="<b>Schadenereignis</b>">
                            <dl class="row">
                                <dt class="col-sm-4">Datum des Schadens</dt>
                                <dd class="col-sm-8">{{ formatDate(formData.dateOfEvent) }}</dd>
                                <dt class="col-sm-4">Beschreibung des Ereignisses</dt>
                                <dd class="col-sm-8">{{ formData.eventDescription }}</dd>
                            </dl>
                        </b-card>
                    </b-card-group>

                    <div class="text-right mt-5">
                        <b-button variant="default" @click="goBack">Zurück zu den Adressangaben</b-button>
                        <b-button type="submit" variant="primary">Bestätigen und Schadenmeldung abschliessen</b-button>
                    </div>
                </b-form>
            </div>
        </transition>
    </div>
</template>

<script>
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import router from './../../router/index';

import helpers from './../../helpers';

import LanguageProcessingApi from './../../api/languageProcessingApi.js';
import CasesApi from './../../api/casesApi.js';

export default {
    name: 'schadenmeldung',
    components: {
        Datepicker
    },
    data: function () {
        return {
            errorMessage: null,
            currentPage: 1,
            maxPage: 4,
            nextButtonLoader: false,
            damagedObjectsListManuallyUpdated: false,
            damagedObjectsListAutomaticallyPopulated: false,
            formData: {
                firstName: '',
                lastName: '',
                street: '',
                zipCode: '',
                city: '',
                dateOfEvent: '',
                eventDescription: '',
                eventSource: '',
                damagedObjects: [],
                additionalInformations: ''
            }
        }
    },
    computed: {
        pageSubTitle: function () {
            switch (this.currentPage) {
                case 4: return 'Zusammenfassung'; break;
                case 3: return 'Adressangaben'; break;
                case 2: return 'Beschädigungen'; break;
                default: return 'Schadensereignis'; break;
            }
        },
        showAutoPopulatedHint: function () {
            return this.damagedObjectsListAutomaticallyPopulated && !this.damagedObjectsListManuallyUpdated;
        },
        cleanedDamagedObjectsList: function () {
            return this.formData.damagedObjects.filter(function (value) { return value.length > 0; });
        },
        hasError: function () {
            return this.errorMessage && this.errorMessage.length > 0;
        },
        progress: function () {
            return this.currentPage * (100 / this.maxPage);
        }
    },
    watch: {
        'formData.damagedObjects': function (val) {
            var lastItem = val[val.length - 1];
            if (lastItem !== '') {
                val.push('');
            }
        }
    },
    methods: {
        onSubmit: function (e) {
            e.preventDefault();

            this.errorMessage = null;
            var self = this;

            switch (this.currentPage) {
                case 1:
                    if (this.damagedObjectsListManuallyUpdated) {
                        this.currentPage++;
                    }
                    else {
                        this.nextButtonLoader = true;

                        LanguageProcessingApi.getObjectsFromDescription(this.formData.eventDescription)
                            .then(function(response) {
                                self.formData.damagedObjects.splice(0);
                                
                                response.data.forEach(function (value) { self.formData.damagedObjects.push(value); });
                                if (self.formData.damagedObjects.length > 0) {
                                    self.damagedObjectsListAutomaticallyPopulated = true;
                                    self.damagedObjectsListManuallyUpdated = false;
                                }

                                self.nextButtonLoader = false;
                                self.currentPage++;
                            })
                            .catch(function (reason) {
                                self.errorMessage = reason.message;
                                self.nextButtonLoader = false;
                            });
                    }
                    break;
                case 4:
                    this.nextButtonLoader = true;

                    CasesApi.createCase(this.formData)
                        .then(function(response) {
                            self.nextButtonLoader = false;
                            var caseId = response.data;
                            router.push({ name: 'caseoverview', params: { caseId: caseId } });
                        })
                        .catch(function (reason) {
                            self.errorMessage = reason.message;
                            self.nextButtonLoader = false;
                        });

                    break;
                default:
                    this.currentPage++;
                    break;
            }
        },
        goBack: function (e) {
            e.preventDefault();
            this.currentPage--;
        },
        showPage: function (pageNumber) {
            if (this.currentPage === pageNumber) {
                return true;
            }

            return false;
        },
        deleteDamagedObject: function (index) {
            this.damagedObjectsListManuallyUpdated = true;
            this.formData.damagedObjects.splice(index, 1);
        },
        onDamagedObjectModified: function () {
            // Cleanup
            for (var index = 0; index < this.formData.damagedObjects.length; index++) {
                if (this.formData.damagedObjects[index].length === 0) {
                    this.formData.damagedObjects.splice(index, 1);
                    index--;
                }
            }

            this.damagedObjectsListManuallyUpdated = true;
        },
        inputFormIdFor: function (name, index) {
            return '${name}_${index}';
        },
        clearError: function () {
            this.errorMessage = null;
        },
        formatDate: helpers.formatDate
    }
}
</script>

<style scoped>
    .form-list {
        list-style: none;
        margin: 0 0 20px 0;
        padding: 0;
    }

    .form-list li {
        margin-bottom: 10px;
    }

    .fade-enter-active, .fade-leave-active {
    transition: opacity .1s;
    }
    .fade-enter, .fade-leave-to {
    opacity: 0;
    }
</style>