<template>
  <div>
    <b-jumbotron header="GVB Schadensmeldung" lead="Sie haben einen Schaden? Wir helfen ihnen!">
      <hr class="my-4" />

      <b-row id="MainButtons" class="block-button-row">
        <b-col>
          <b-button id="SchadenmeldungBtn" variant="outline-primary" block to="/schadenmeldung"><SchadenmeldungIcon class="icon" /></b-button>
          <b-tooltip container="#MainButtons" triggers="hover" target="SchadenmeldungBtn" placement="bottom">
            <span class="large-tooltip-content">Eine Schadenmeldung erfassen</span>
          </b-tooltip>
        </b-col>
        <b-col>
          <b-button id="CraftmanshipBtn" variant="outline-primary" block to="/handwerker"><CraftmanshipIcon class="icon" /></b-button>
          <b-tooltip container="#MainButtons" triggers="hover" target="CraftmanshipBtn" placement="bottom">
            <span class="large-tooltip-content">Als Handwerker anmelden</span>
          </b-tooltip>
        </b-col>
      </b-row>
    </b-jumbotron>
  </div>
</template>

<script>
import CraftmanshipIcon from './../../assets/craftmanship.svg';
import SchadenmeldungIcon from './../../assets/schadenmeldung.svg';

export default {
  name: 'index',
  data () {
    return {
    }
  },
  components: {
    CraftmanshipIcon,
    SchadenmeldungIcon
  },
  mounted: function () {
    if (this.$root.store.userLoggedIn) {
      this.$root.store.logoffUser();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .block-button-row .col .btn {
    height: 30vw;
    border-radius: 30px;
  }
  .btn-outline-primary {
    color: #a75c55 !important;
    border-color: #e9ecef !important;
  }
  .btn-outline-primary:hover {
    background-color: #a75c55 !important;
  }
  .btn-outline-primary:focus {
    box-shadow: none !important;
  }

  .block-button-row .col {
    position: relative;
  }
  .block-button-row .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 20vw;
  }
  .block-button-row .tooltip-inner {
    max-width: 400px !important;
  }
  .block-button-row .large-tooltip-content {
    font-size: 18px;
  }
</style>
